<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <p class="text-3xl font-bold">Tailwind CSS Columns Class</p>
    <p>Tailwind CSS Columns-* Class</p>
    <div class="columns-3 gap-6 space-y-4">
      <img
        class="w-full aspect-video"
        src="https://www.tutorialspoint.com/html/images/html-mini-logo.jpg"
      />

      <img
        class="w-full aspect-auto"
        src="https://www.tutorialspoint.com/html/images/html.jpg"
      />

      <img
        class="w-full aspect-auto"
        src="https://www.tutorialspoint.com/html/images/html.jpg"
      />

      <img
        class="w-full aspect-video"
        src="https://www.tutorialspoint.com/html/images/html-mini-logo.jpg"
      />

      <img
        class="w-full aspect-auto"
        src="https://www.tutorialspoint.com/html/images/html.jpg"
      />

      <img
        class="w-full aspect-video"
        src="https://www.tutorialspoint.com/html/images/html-mini-logo.jpg"
      />
    </div>
  </body>
</html>
